:root {
  overflow-x: hidden;
  --book-width: 300px;
  --book-height: 425px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  position: relative;
}

.container-main {
  display: flex;
  min-height: 100vh;
}

/* Nav */

nav {
  width: 250px;
  height: 100vh;
  position: fixed;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  gap: 50px;
  place-items: center;
}

nav>h1 {
  margin-top: 70px;
  font-family: monospace;
  font-size: 42px;
}

.add {
  font-family: monospace;
  font-size: 22px;
  font-weight: bold;
  padding: 8px 18px;
  cursor: pointer;
  color: #4b5563;
  height: 55px;
  background-color: #e5e7eb;
  border: none;
  border-radius: calc(55px / 2);
}

.add:hover {
  color: #f9fafb;
  background-color: #4b5563;
  transition: all 0.2s ease-out;
}

.shelf {
  position: relative;
  left: 250px;
  width: calc(100vw - 250px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--book-width), 1fr));
  grid-auto-rows: var(--book-height);
  gap: 55px 45px;
  padding: 50px;
  justify-items: center;
}

.book {
  background-color: darkgoldenrod;
  height: var(--book-height);
  width: var(--book-width);
  border-radius: 5px 12px 12px 5px;
  color: #f9fafb;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px 25px 25px;
}

.book-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.book-info > h1 {
  font-size: 32px;
}

.book-info > p {
  font-size: 18px;
}

.tab {
  align-self: flex-end;
  display: flex;
  gap: 10px;
}

.tab>svg {
  height: 30px;
  cursor: pointer;
}

/* Overlay */

.overlay {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.4s ease;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}

.overlay.active {
  visibility: visible;
  opacity: 1;
}

/* Form */

form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border-radius: 12px;
  background-color: #d1d5db;
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 30px 35px;
  gap: 25px;
}

.exit-icon {
  height: 30px;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}


form>h1 {
  font-family: Calibri, sans-serif;
  font-size: 30px;
}

form>div {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-self: flex-start;
  width: 100%;
}

label {
  font-family: Calibri, sans-serif;
  font-size: 20px;
}

input[type="text"] {
  display: block;
  width: 100%;
  height: 31px;
  padding: 5px;
  font-family: Calibri, sans-serif;
  font-size: 15px;
}

input[type="number"] {
  display: block;
  width: 65%;
  height: 31px;
  padding: 5px;
  font-family: Calibri, sans-serif;
  font-size: 15px;
}

form>div:nth-last-of-type(1) {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

input[type="checkbox"] {
  width: 18px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

label[for="have-read"] {
  font-size: 18px;
}

.add-button {
  height: 38px;
  width: 160px;
  cursor: pointer;
  font-family: Calibri, sans-serif;
  font-size: 18px;
  border-radius: 38px;
  border: none;
  outline: none;
  color: black;
  transition: all 0.3s;
}

.add-button:hover {
  color: white;
  background-color: #6b7280;
}

/* Footer */

footer {
  height: 55px;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: #0D1117;
  z-index: 2;
}

.made-by {
  color: white;
  font-size: 15px;
  font-family: cursive;
  margin: 0 auto;
}

.github-link {
  position: relative;
  right: 37.5px;
}

.github-icon {
  height: 27.5px;
}